extends layout

block content
  a(href="/") Volver inicio
  form(action="`/notes/${current._id}`", method="patch")
    div
      label(for="title") Titulo
      input(type="text", name="title", id="title", value=currentNote.title)

    div
      label(for="body") Descripcion
      textarea(name="body", id="body")= currentNote.body

    button(type="submit") Editar  

    script. 
      const form = document.querySelector("form");
      form.addEventListener("submit", function(e) {
        e.preventDefault();

        const title = document.querySelector("#title").value
        const body = document.querySelector("#body").value

        fetch("/notes/#{currentNote._id}", {
          method: "PATCH",
          headers: { "Content-Type": "application/x-www-form-urlencoded"},
          body: `title=${title}&body=${body}`
        }).then(response => {
          window.location= "/notes/#{currentNote._id}";
        });
      })